@import "assets/scss/px2rem.scss";
.title {
  color: red;
  background: #1890ff;
  width: 50vw;
  height: 50vh;
}
.home-body{
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  .CarouselSwiper {
    width: 100%;
    height: px2rem(150);
    div {
      width: 100%;
      height: 100%;
    }
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}
.swiper-container{
  width: 100%;
  height: px2rem(230);
  img{
    display: inline-block;
    width: 100%;
  }
}

.home-channel{
  margin-top: px2rem(10);
  padding: px2rem(10) 0;
  background: #fff;
  .channel-item{
    display: inline-block;
    text-align: center;
    width: px2rem(50);
    height:  px2rem(50);
    margin-left:  px2rem(10);
    img{
      width: px2rem(20);
      height: px2rem(20);
    }
  }
}
.home-coupon-list{
  padding: px2rem(15);
  margin-top: px2rem(10);
  background: #fff;
  .coupon-list-title{
    margin-bottom: px2rem(10);
  }
  .home-coupon-item{
    border: 1px solid red;
    padding-left: px2rem(15);
    padding-top: px2rem(20);
    padding-bottom: px2rem(20);
    margin-bottom: px2rem(10);
  }
  .coupon-item-money{
    display: flex;
    margin-bottom:px2rem(10);
    >p,h2{
      flex: 1;
    }
    p{

      color: #f44;
      font-size: px2rem(24);
      i{
        font-size: 50%;
      }
    }
  }

}

