.title {
  color: red;
  background: #1890ff;
  width: 50vw;
  height: 50vh;
}
.home-body{
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  .CarouselSwiper {
    width: 100%;
    height: 150px;
    div {
      width: 100%;
      height: 100%;
    }
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}
.swiper-container{
  width: 100%;
  height: 230px;
  img{
    display: inline-block;
    width: 100%;
  }
}

.home-channel{
  margin-top: 10px;
  padding: 10px 0;
  background: #fff;
  .channel-item{
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    img{
      width: 20px;
      height: 20px;
    }
  }
}
.home-coupon-list{
  padding: 15px;
  margin-top: 10px;
  background: #fff;
  .coupon-list-title{
    margin-bottom: 10px;
  }
  .home-coupon-item{
    border: 1px solid red;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .coupon-item-money{
    display: flex;
    margin-bottom: 10px;
    >p,h2{
      flex: 1;
    }
    p{

      color: #f44;
      font-size: 24px;
      i{
        font-size: 50%;
      }
    }
  }

}

